* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}
.top_nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px 100px;
  background-color: #f3f3f3;
}

.top_nav .my_info .mail {
  margin-left: 30px;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
.nav .nav_menu {
  display: flex;
  margin: 0 25px;
  font-size: 12px;
}

.nav .nav_menu li {
  display: inline;
  margin: 0 10px;
}
.nav .nav_logo {
  width: 120px;
  margin: 0 40px;
  padding: 20px 0;
}

.center {
  width: 100%;
  height: 45vh;
  padding: 90px 0;
  display: flex;
  justify-content: center;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(images/center.jpg);
  background-size: cover;
  opacity: 0.95;
}
.center .center_box {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.center .center_box .center_top_sale {
  color: blue;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: blue;
}
.center .center_box h1 {
  font-size: 55px;
  padding: 10px 0;
  color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}
.center .center_box .center_bottom_info {
  padding-bottom: 15px;
  color: #eeeeee;
}
.center .center_box .center_bottom_SHOP {
  display: flex;
  justify-content: center;
}
.center .center_box .center_bottom_SHOP a {
  padding: 15px 30px;
  background-color: #818a91;
  color: white;
}

.center .center_box .center_bottom_SHOP a:hover {
  background-color: #f3f3f3;
  color: black;
  transition-duration:0.5s;
}

.bottom {
  display: flex;
  padding: 50px 0;
  justify-content: center;
  background-color: white;
}

.bottom div {
  padding: 10px;
}

.bottom div img {
  width:100%;
  height: 20vh;
}

/*new_arrivals*/
.new_arrivals{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;


}
.new_arrivals .top{
  font-size: 22px;
  font-weight: 900;
}
.new_arrivals .bar{
  border: solid 1px black;
  width: 5%;
  margin:30px;
}

/*transparency_box*/
.transparency_box_background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(images/background-attachment.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  height: 40vh;
}

.transparency_box_background .box_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 80%;
  height: auto;

}
.transparency_box_background .box_info .top_info{
  font-size:22px;
  font-weight: 900;


}
.transparency_box_background .box_info .center_info{
  font-size:40px;
  font-weight: 900;
  height: 100%;

}
.transparency_box_background .box_info .transparency_Btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5vh;
  font-size: 20px;
  font-weight: 800;
}


.foot
{
  height: 1000px;

}